<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.altraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master/masterlayout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<th:block layout:fragment="content">
  <form th:action="@{/notification/new}" th:object="${notification}" method="post">
    <fieldset>
      <legend>Notification Registration Form</legend>
      <input type="hidden" th:value="${notification.notificationId}" name="notificationId">

      <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" id="message" th:value="${notification.message}" name="name">
      </div>

      <div class="form-group">
        <label for="sender">Sender</label>
        <input type="text" class="form-control" id="sender" name="sender" th:value="${notificaiton.sender}">
      </div>
      <div class="form-group">
        <label for="receiver">Receiver</label>
        <input type="text" class="form-control" id="receiver" name="receiver" th:value="${notification.receiver}">
      </div>
      <div class="form-group">
        <label for="timeStamp">Time sent</label>
        <input type="text" class="form-control" id="timeStamp" name="timeStamp" th:value="${notification.timeStamp}">
      </div>
      <div>
        <a href="#" class="btn btn-outline-warning">Cancel</a>
        <button class="btn btn-outline-success" type="submit">Save</button>

      </div>



    </fieldset>
  </form>



</th:block>

<th:block layout:fragment="footer"></th:block>

</body>
</html>